photo.jpg
markdown.png
git.png
openfolder.png
createfile.png
terminal.png
init.png
status.png
add.png
commit.png
log.png
checkout.png
mainbranch.png
alternative.png
alternativetable.png
merge.png
delete.png
create.png
branch2.png
branch3.png
branch4.png
branch5.png
mergebranch2.png
current.png
mergebranch3.png
mergebranch4.png
incoming.png
mergebranch5.png
both.png
FinalBranch.png
mergefinal.png